footer.footer 
    .footer__logo 
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav
        li: a(herf='#') About us
        li: a(herf='#') Download apps
        li: a(herf='#') Become a guide
        li: a(herf='#') Careers
        li: a(herf='#') Contact
    p.footer-copyright &copy; by LYX. Feel free to use this project for your pwn purposes, EXCEPT producing your own course or tutorials!
