extends ../base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Enter your email
            form.form.form--email
                .form__group.ma-bt-md
                    label.form__label(for='email') Your email
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button#sendEmail.btn.btn--green send